.WeatherContainer{
  display: flex;
  height: 50vh;
  width: 50vw;
  background-color: wheat;
  color: black;
  flex-flow: column;
  justify-content: space-around;
  padding: 0.5vh 0.5vw;
}

.WeatherRow{
  display: flex;
  height: 20vh;
  width: 100%;
  color: black;
  flex-flow: row;
  justify-content: space-evenly;
}

.WeatherObject{
  display: flex;
  height: 20vh;
  width: 10vw;
  color: black;
  justify-content: center;
  align-items: center;
}